*{
    padding: 0px;
    margin: 0px; 
}

a{
    text-decoration: none;
    color: black;
}

h1{
    text-align: center;
    font-size: 300%;
    font-family: playfair-display, serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(173,121, 63);
    background-color: rgb(255, 255, 255);
}

h2{
    text-align: center;
    font-size: 200%;
    font-family: playfair-display, serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(173,121, 63);
    padding: 2.5%;
    background-color: rgb(255, 255, 255);
}

h3{
    font-family:'Montserrat', sans-serif;
    text-align: center;
    color: rgb(201, 89,134);
    font-size: 140%;
    padding-top: 2.5%;
}

h4{
    font-family: playfair-display, serif;
}

p{
    font-family:'Montserrat', sans-serif;
    text-align: center;
    color: rgb(201, 89,134);
    padding: 2.5%;
    font-size: 125%;
}

li{
    font-family:'Montserrat', sans-serif;
    text-align: center;
    color: rgb(173,121, 63);
    font-size: 120%;
}

.title{
    padding: 2.5%;
    background-color: rgb(255, 255, 255);
}
.title p{
    color: rgb(173,121, 63);
    font-size: 250%;
    text-align: center;
}


                    /*HEADERL*/
header{
    display: flex;
    justify-content: space-between;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    padding-right: 5%;
    background-color: white;
    width: 100%;
    position: sticky;
    z-index: 999;
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: black;
    font-family:'Montserrat', sans-serif;
    font-size: 110%;
    margin-right: 1cm;
}

.dropbtn{
    padding-bottom: 16px;
    padding-top: 16px;
    text-decoration: none;
    justify-content: space-around;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color:rgb(255, 255, 255);
    margin-top: 16px;
    width: 90%;
}

.dropdown-content a {
    color: rgb(28, 28, 28);
    padding: 12px  12px;
    text-decoration: none;
    display: block;
    font-size: 90%;
}

/* Farve skift af dropdown links på hover */
.dropdown-content a:hover {
    color: rgb(201, 89,134);
    width:10%;
}
    
    /* Vis dropdown menuen med hover */
.dropdown:hover .dropdown-content{
    display: block;
}

                    /*VIDEO*/
video{
    width: 100%;
}

                    /*MAIN*/

main{
    background-color: rgb(245,204,219);
    overflow: hidden;
}

                    /*FORSIDE - INDEX.HTML*/

#forside_lyserød_baggrundsfarve{
    padding:5%;
}

#forside_lyserød_baggrundsfarve p{
    display: flex;
    font-size: 150%;
    align-items: center;
    color:rgb(201, 89,134);
}

#laptop_grå_baggrundsfarve{
    display: flex;
    background-color: rgb(245, 245, 245);
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    justify-content: center;
}

#laptop_grå_baggrundsfarve :hover{
    opacity: 85%;
}

#mobil_grå_baggrundsfarve :hover{
    opacity: 85%;
}

#laptop_lysebrun{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: rgb(222, 208, 191);
    padding-bottom: 10%;
    padding-top: 5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

#laptop_lysebrun div img{
    width: 20%;
}

#laptop_lysebrun :hover{
    opacity: 85%;
}

#laptop_lysebrun p{
    font-family:'Montserrat', sans-serif;
    font-size: 125%;
    text-align:start;
    color: rgb(173,121, 63);
}

#mobil_lysebrun p{
    text-align:start;
    color: rgb(173,121, 63);
}

#mobil_lysebrun :hover{
    opacity: 85%;
}

                    /*FOOTER*/
footer{
    background-color: rgb(173,121, 63);
    padding-left: 1.5%;
}

footer h4{
    color: rgb(222, 208, 191);
    margin-bottom: 2%;
}

footer p{
    font-family:'Montserrat', sans-serif;
    line-height: 22px;
    color: rgb(222, 208, 191);
    font-size: 80%;
    text-align: left;
}

footer div{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

footer div section{
    width: 30%;
    padding: 2%;
    justify-content: center;
}

#skrivmail{
    width: 60%;
    padding: 10px;
    background-color:white;
    border: none;
    color: rgba(2, 44, 19, 1);
    font-family:'Montserrat', sans-serif;
    font-size: 15px;
    text-align: left;
    margin-top: 20px;
}

.tilmeld{
    width: 30%;
    padding: 10px;
    background-color:rgb(222, 208, 191);
    color: rgb(173,121, 63);
    font-family:'Montserrat', sans-serif;
    margin-top:20px;
    font-size: 15px;
}

footer ul{
    padding-left: 0%;
    list-style: none;
}

footer ul li{
    font-family:'Montserrat', sans-serif;
    font-size: 80%;
    color: rgb(222, 208, 191);
    padding-bottom: 2%;
    text-align: start;
}

                    /*HJERTERUM ARTIKEL*/
.illustration{
    background-color: rgb(245, 245, 245);
    padding-top: 2.5%;
    padding-bottom:2.5%;
}

.illustration img{
    width: 100%;
}

                    /*ENGLEKORT ARTIEKL*/
#tre_kort{
    display: flex;
    background-color: rgb(245, 245, 245);
    justify-content: center;
    justify-content: space-evenly;
    padding-bottom: 10%;
    padding-top: 5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

#tre_kort div{
    background-color: rgb(173,121, 63);
    padding-bottom: 4.5%;
    width: 29.26%;
}

#tre_kort div p{
    color: rgb(222, 208, 191);
    font-size: 120%;
    text-align: center;
}

#tre_kort img{
    width: 100%;
}

#tre_kort_mobil{
    padding-bottom: 10%;

    background-color: rgb(245, 245, 245);
    width: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
} 

#tre_kort_mobil div{
    background-color: rgb(152, 90, 20);
}

#tre_kort_mobil div p{
    color: rgb(222, 208, 191);
    font-size: 100%;
    padding-top: 2.5%;
    padding-bottom: 5%;
}

#tre_kort_mobil img{
    width: 100%;
}


                    /*KRYSTAL ARTIEKL*/
#krystalartikel_lyserød_baggrundsfarve{
    background-color: rgb(245,204,219);
    padding:2.5%;
}

#krystalartikel_lyserød_baggrundsfarve p{
    font-size: 125%;
    text-align: center;
    color:rgb(201, 89,134);
}

#krystalartikel_lyserød_baggrundsfarve h3{
    color: rgb(201, 89,134);
    font-size: 140%;
    padding-top: 2.5%;
}

.krystalkort_grå_baggrundsfarve{
    display: flex;
    background-color: rgb(245, 245, 245);
    justify-content: center;
    justify-content: space-around;
    padding-bottom: 10%;
    padding-top: 5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.krystalkort_grå_baggrundsfarve section{
    padding-bottom: 4.5%;
    background-color: rgb(245,204,219);
    width: 22.1%;
}

.krystalkort_grå_baggrundsfarve section img{
    width: 100%;
}

.krystalkort_grå_baggrundsfarve h3{
    color: rgb(201, 89,134);
}

.krystalkort_grå_baggrundsfarve p{
    color:rgb(201, 89,134)
}

.mobil_krystalkort{
    width: 100%;
    display: flex;
    flex-direction: column; 
    background-color: rgb(245, 245, 245);
    justify-content: space-around;
}

.mobil_krystalkort section{
    padding-bottom: 4.5%;
    background-color: rgb(245,204,219);
}

.mobil_krystalkort section img{
    width: 100%;
}

.mobil_krystalkort h3{
    color: rgb(201, 89,134);
    font-size: 120%;
}

.mobil_krystalkort p{
    color:rgb(201, 89,134);
    font-size: 100%;
}

.pink_baggrundsfarve{
    background-color: rgb(201, 89,134);
    padding: 2.5%;
}

.pink_baggrundsfarve p{
    font-size: 120%;
    align-items: center;
    color:rgb(245,204,219);
}

.artikel_lysebrun_baggrundsfarve{
    background-color: rgb(222, 208, 191);
    padding: 2.5%;
}

.artikel_lysebrun_baggrundsfarve p{
    font-size: 120%;
    align-items: center;
    color:rgb(173,121, 63)
}

                    /*TAROTKORT ARTIEKL*/
#mørkebrun_baggrundsfarve{
    background-color: rgb(173,121, 63);
}

#mørkebrun_baggrundsfarve p{
    font-size: 120%;
    align-items: center;
    color:rgb(222, 208, 191);
}

.grå_baggrundsfarve{
    background-color: rgb(245, 245, 245);
    padding-bottom: 2.5%;
}

.grå_baggrundsfarve p{
    font-size: 120%;
    align-items: center;
    color: rgb(173,121, 63);
}

#to_kort{
    display: flex;
    background-color: rgb(245, 245, 245);
    justify-content: center;
    justify-content: space-evenly;
    padding-bottom: 10%;
    padding-top: 5%;
}

#to_kort section{
    padding-bottom: 4.5%;
    background-color: rgb(201, 89,134);
    width: 34.73%;
}

#to_kort section h3{
    color: rgb(245,204,219);
}

#to_kort section p{
    color: rgb(245,204,219);
}

#to_kort img{
    width: 100%;
}

#to_kort_mobil{
    padding-bottom: 10%;
    background-color:rgb(245, 245, 245);
    width: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
}

#to_kort_mobil h3{
    color: rgb(245,204,219);
    font-size: 120%;
}

#to_kort_mobil p{
    color: rgb(245,204,219);
    font-size: 100%;
    padding-top: 2.5%;
    padding-bottom: 5%;
}

#to_kort_mobil section{
    background-color: rgb(201, 89,134);
}

#to_kort_mobil section img{
    width: 100%;
}


                    /*Mobil LAYOUT*/
@media screen and (max-width:768px){ 
    #mobillogo{
        display: block;
        margin: 2%;
    }

    #laptop_logo{
        display: none;
    }

    header{
        align-items: center;
    }

    #mobilheader_burgermenu img{
        display: block;
        margin: 20%;
    }

    #laptop_header{
        display: none;
    }

    #laptop_lysebrun{
        display: none;
    }

    .title{
        font-size: 65%;
        padding: 2.5%;
    }

    h2{
        font-size: 130%;
        padding: 2.5%;
    }

    p{
        padding-left: 5%;
        padding-right: 5%;
        font-size: 100%;
    }

    #forside_lyserød_baggrundsfarve p{
        font-size: 80%;
        font-weight: bolder;
    }

    footer div{
        display: flex;
        flex-wrap: wrap;
    }

    footer div section{
        height: 50%;
        width: 100%;
    }

    footer div section p{
        padding: 0%;
    }

    #krystalartikel_lyserød_baggrundsfarve h3{
        font-size: 100%;
    }
    
    #krystalartikel_lyserød_baggrundsfarve p{
        font-size: 100%;
        padding-bottom:0%;
    }

    #laptop_grå_baggrundsfarve{
        display: none;
    }

    #mobil_grå_baggrundsfarve{
        display: block;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: rgb(245, 245, 245);
        justify-content: center;
    }

    #mobil_grå_baggrundsfarve div{
        width: 100%;
    }

    #mobil_grå_baggrundsfarve div img{
        padding-left: 20%;
    }


    #mobil_lysebrun{
        display: block;
        flex-direction: row;
        flex-wrap: wrap;
        background-color:rgb(222, 208, 191);
        padding: 5%;
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
    }

    #mobil_lysebrun p{
        padding-bottom: 10%;
        font-size: 90%;
        text-align: start;
    }

    .mobil_lysebrun div{
        width: 50%;
    }

    .mobil_krystalkort{
        display:block;
    }

    .krystalkort_grå_baggrundsfarve{
        display: none;
    }

    #pink_baggrundsfarve{
        font-size: 80%;
    }

    .artikel_lysebrun_baggrundsfarve{
        font-size: 80%;
    }

    #mørkebrun_baggrundsfarve{
        font-size: 80%;
    }
    
    .grå_baggrundsfarve{
        font-size: 80%;
    }

    #to_kort{
        display: none;
    }

    #tre_kort{
        display: none;
    }
}

                    /*LAPTOP LAYOUT*/
@media screen and (min-width:768px){
    #mobillogo{
        display: none;
    }

    #laptop_logo{
        display: block;
    }

    #laptop_header{
        display: block;
        margin-top: 3%;
    }

    #mobilheader_burgermenu{
        display: none;
    }

    #mobil_lysebrun{
        display: none;
    }

    #tre_kort_mobil{
        display: none;
    }

    #mobil_grå_baggrundsfarve{
        display: none;
    }

    .mobil_krystalkort{
        display:none;
    }

    #to_kort_mobil{
        display: none;
    }
}
