*{
    padding: 0px;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

header{
    display: flex;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: black;
    padding: 1.5%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5cm;
    margin-bottom: 0.5cm;
    margin-left: 37%;
}

nav a{
    text-decoration: none;
    color: black;
    font-family:'Montserrat', sans-serif;
    font-size: 120%;
    margin-right: 1cm;
}